<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LC3 Bot Example</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const serverUrl =
        "https://us-central1-livechat-experiments.cloudfunctions.net/restApi/proxy-lc3";

      function hashStringToJson() {
        let pieces = window.location.hash.substring(1).split("&"),
          data = {},
          i,
          parts;

        for (i = 0; i < pieces.length; i++) {
          parts = pieces[i].split("=");
          if (parts.length < 2) {
            parts.push("");
          }
          data[decodeURIComponent(parts[0])] = decodeURIComponent(parts[1]);
        }
        return data;
      }

      function createWebhook(token) {
        window.axios.post(serverUrl + '/configuration/webhooks/register_webhook', {
          url: 'https://muddy-asteroid.glitch.me/webhook',
          action: 'incoming_event',
          secret_key: token
        }, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        }).then(function (response) {
          alert('Webhook created');
          console.warn(response);
          countWebhooks(token);
        })
          .catch(function (error) {
            alert('Something went wrong. Check docs');
            console.error(error);
          })
      }

      function countWebhooks(token) {
        window.axios.post(serverUrl + '/configuration/webhooks/get_webhooks_config', {}, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
          .then(function (result) {
            if (result.data) {
              console.warn(result)
              const count = result.data.length || 0;
              const element = document.getElementById('count');
              element.innerText = 'Number of active webhooks: ' + count;
            }
          })
      }

      function getWebhooks(token) {
        return window.axios.post(serverUrl + '/configuration/webhooks/get_webhooks_config', {}, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
      }

      function deleteWebhook(token, id) {
        return window.axios.post(serverUrl + '/configuration/webhooks/unregister_webhook', {
          "webhook_id": id
        }, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
      }

      function deleteAllWebhooks(token) {
        getWebhooks(token)
          .then(function (result) {
            const webhooks = result.data || [];

            Promise.all(webhooks.map(function (webhook) {
              deleteWebhook(token, webhook.webhook_id)
            }))
              .finally(function () {
                alert('All webhooks are deleted');
                countWebhooks(token);
              });
          })
          .catch(function (error) {
            console.error(error);
            alert(error);
          })
      }
    </script>
</head>
<body>
    <script>
      const parameters = hashStringToJson();

      if (parameters.access_token) {
        countWebhooks(parameters.access_token)
      } else if (parameters.error) {
        console.error(parameters.error)
      } else {
        const clientId = '4f02f4e045f670f7d5612cd6c2f9d8e4';
        window.location.href = `https://accounts.livechatinc.com/?response_type=token&client_id=${clientId}&redirect_uri=${window.location.href}`;
      }

    </script>

    <div>
        <h3>
            Sample LC3 Webhook Application
        </h3>
        <h3>
            How to use?
        </h3>
        <span style="line-height: 1.8">
            1. Click "Create webhook" button below<br/>
            2. Start chat and type "What time is it?"<br/>
            3. The message with current time will appear in chat.<br/>
            4. Don't worry this message will be only visible for you ;)<br/>
        </span>

        <br/>

        <button onclick="createWebhook(parameters.access_token)" style="font-size: 15px">
            Create webhook
        </button>

        <br/>
        <br/>

        <span id="count"></span>

        <button onclick="deleteAllWebhooks(parameters.access_token)" style="font-size: 15px; background-color: red; color: white">
            Delete all webhooks
        </button>
    </div>

</body>
</html>
